<div class="card shadow p-3 col-9 bg-white rounded bg-light border-0" id="postCard">
    <h3 class="card-title header">{{title}}</h3>
    <div class="card-body">
        <p class="card-text">{{post_body}}</p>
        <div class="card-footer text-muted">
            <p>Posted by {{user.username}} on {{format_date date_created}}</p>
            <a href='/post/{{id}}' class="stretched-link">Read more</a>
        </div>
    </div>
</div>